# Created by venv; see https://docs.python.org/3/library/venv.html

**/.DS_Store

**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

*.mlpackage

**/.venv311

/backend/main/secrets/
/backend/main/logs/

/backend/inference/secrets/
/backend/inference/logs/

/deploy/secrets/
/deploy/logs/

/secrets/

/ios/Config/
/ios/Firebase/
/ios/DoglyadNeuralModel/Resources/mlx-Qwen2.5-1.5B-Instruct-4bit

/ml/examination/
